<scm-navbar></scm-navbar>
<div class="container-fluid">
  <div class="row">
    <scm-sidebar></scm-sidebar>
    <main class="col-10 offset-2 pt-3">
      <router-outlet></router-outlet>
    </main>
    <!-- <scm-sidebar (changedMenu)="currentMenu = $event"></scm-sidebar> -->
        <!-- <main class="col-10 offset-2 pt-3" [ngSwitch]="currentMenu"> -->
        <!-- <div *ngSwitchCase="'product'"><scm-product-management></scm-product-management></div>
        <div *ngSwitchCase="'category'"><scm-category-management></scm-category-management></div>
        <div *ngSwitchDefault><scm-main-dashboard></scm-main-dashboard></div> -->
  </div>
</div>
<scm-footer></scm-footer>

<!-- <scm-page-not-found></scm-page-not-found> -->